.login-icon {
  color: #9031aa;
  height: 24px;
  width: 24px;
  margin-bottom: 5.1px;
}

.login-avatar {
  font-size: 24px;
}

.login-popup-box {
  display: flex;
  left: 20px;
  position: absolute;
  top: 90px;
  align-items: center;
  text-align: center;
  /* background-color: purple; */
}
