.caret {
  color: rgb(216, 216, 216);
  --fa-secondary-opacity: 0.6;
}

.back-top-btn {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

@media (orientation: landscape) and (min-width: 768px) {
  .back-top-btn {
    display: flex;
    align-items: flex-end;
    bottom: 0;
    margin-bottom: 10px;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .back-top-btn {
    bottom: 0;
  }
}
@media (orientation: portrait) {
  .back-top-btn {
    bottom: 0;
  }
}
